
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #a1a1a1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.product-card--disabled {
    filter: grayscale(100%);
    opacity: 0.6;
}

.product-card:hover {
    transform: translateY(-4px);
}

/* Фото */
.product-image {
    position: relative;
    height: 200px;
    background: #e9e9e9;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image .placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbbbbb;
    font-size: 1.1rem;
    font-style: italic;
}


.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem 1rem 0.5rem;
    color: #000000;
    line-height: 1.3;
}


.product-description {
    font-size: 0.875rem;
    color: #646464;
    margin: 0 1rem 1rem;
    flex-grow: 1;
    line-height: 1.5;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem;
    margin-top: auto;
}

.price {
    font-weight: 600;
    color: #000000;
    font-size: 1rem;
}

.btn-choose {
    background: #1f65cf;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-choose:hover {
    background: #095bd6;
}

.categories-nav {
    display: flex; 
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.categories-nav a {
    
    text-decoration: none;
    font-weight: 500;
    color: #333;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.categories-nav a:hover {
    background: #f0f0f0;
}

.category-section {
    margin-bottom: 3rem;
}

.category-title {
    font-size: 1.4rem;
    margin-left: 50px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.4rem;
}

html {
    scroll-behavior: smooth;
}
